{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-12 mx-auto">
        <h1 class="text-center">
            Titulo
        </h1>
    </div>

    <div class="col-4 mx-auto">
        <img src="/assets/img/about.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}